<%- include('./header.ejs') -%>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <%- include('./navbar.ejs'); -%>
  <%- include('./sidebar.ejs') -%>
  <div class="content-wrapper">
    <div class="content-header" style="background-color: linen;">
      <div class="container-fluid">
        <nav aria-label="breadcrumb">
          <h1 class="breadcrumb">
            <span class="breadcrumb-item active" aria-current="page" style="padding-left:50%; color: black;">Chào mừng đến với trang quản trị viên</span>
          </h1>
        </nav>
          
      </div>
    </div>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
    
        </div>
      </div>
    </div>
  </div>
 <%- include('./footter.ejs') -%>
</div>
<script src="backend/plugins/jquery/jquery.min.js"></script>
<script src="backend/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="backend/dist/js/adminlte.min.js"></script>
</body>
</html>
