<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Nguyễn Đỗ Hà
    </div>
    <!-- Default to the left -->
    <strong>Giao diện Adminlte</strong>
  </footer>